@media screen and (min-width: 480px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        flex-basis: calc(50% - 20px);
        background-color: #acd8ad;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        flex: 1 0 calc(100%/3 - 20px);
        background-color: #d84734;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        flex: 1 0 calc(25% - 20px);
        background-color: #ba8fd8;
    }
}

